@import url(../common.css);
@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque');

/* body {
  width: 100%;
} */

div header .inner-header{
  border-bottom: 2px solid #000;
  position: relative;
  background: #FFF;
  width: 100%;
  height: 105px;
  z-index: 9999;
}
div header .inner-header .logo {
  display: flex;
  position: relative;
}
div header .inner-header .logo img {
  width: 130px;
  position: absolute;
  top: 38px;
  left: 9.8%;
}

div header .inner-header .gnb ul {
  /* border: 2px solid #000; */
  display: flex;
}
div header .inner-header .gnb ul li {
  margin-left: 27px;
  margin-top:27px;
  line-height: 50px;
  /* border: 1px solid #000; */
  position: relative;
  left: 35%;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .14em;
  text-transform: uppercase;
  transition: 0.2s;

}
div header .inner-header .gnb ul li:hover {
  color: #9f9f9f;
}
div .index{
  width: 100%;
}
div .index .sparkshorts-header {
  width: 100%;
}
div .index .sparkshorts-header > img {
  width: 100%;
  height: 1043px;
}
div .index .sparkshorts-header .img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
div .index .sparkshorts-header .img-box img {
  position: absolute;
  width: 1094px;
  height: 159px;
  bottom: 460px;
  /* left: 400px; */
}
/*          ///// header /////           */
















div.sparkshorts-main {
  /* border: 2 solid #000; */
  width: 100%;
  /* margin-left: 5%; */
}
div .sparkshorts-main .sparkshorts-content {
  /* width: 1190px; */
  height: 784px;
  /* border: 2px solid #000; */
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items:center;
  /* position: relative; */
  /* left: 10%; */
  margin-top: 10%;
}
div .sparkshorts-main .sparkshorts-content img {
  width: 100%;
}
div .sparkshorts-main .sparkshorts-content p {
  /* border: 2px solid #000; */
  width: 69%;
  text-align: left;
  padding-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 1.7em;
  text-transform: none;
  color: rgba(29, 29, 29, .7);
}

div .sparkshorts-main .sparkshorts-content span {
  /* border: 2px solid #000; */
  font-style: italic;
  text-align: left;
}
div .sparkshorts-main .line {
  width: 155px;
  height: 47px;
  padding: 17px;
  border-bottom: 0.5px solid rgb(173, 173, 173);
  position: relative;
  left: 45%;
  margin-bottom: 5%;
}

/*      /////       main-contents        /////         */


















div.film-content {
  width:100%;
  /* border: 2px solid #000; */
}

div.film-content ul {
  /* border: 2px solid #000; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 90%;
  margin-left: 9.3%;
}

div.film-content ul li {
  width: 392px;
  height: 436px;

}
div.film-content ul li img{
  /* border: 3px solid #000; */
  width: 259px;
  height: 372px;
}
div.film-content ul li p {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* right:16%; */
  font-size: 14px;
  font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(29, 29, 29, .7);

}
div .film-content .line {
  width: 155px;
  height: 47px;
  padding: 17px;
  border-bottom: 0.5px solid rgb(173, 173, 173);
  position: relative;
  left: 45%;
  margin-bottom: 5%;
  
}

/*           //////     film-content       //////           */



















div .film-instruction {
  width: 100%;
}
div .film-instruction ul {
  width: 100%;
  /* border: 2px solid #000; */
  /* position: relative;
  left: 140px; */
}
div .film-instruction ul li {
  /* border: 2px solid #000; */
  display: flex;
  margin-top: 10%;
  /* position: relative; */
  padding-left: 10%;

}

div .film-instruction ul li img {
  width: 45%;
  height: 46%;
}
div .film-instruction ul li p {
  /* border: 2px solid black; */
  width: 561px;
  /* height: 186px; */
  /* margin-top: 3%; */
  padding-left:4.8%;
  font-family: 'Futura PT', sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  color: rgba(29, 29, 29, .7);
}

div .film-instruction ul li span {
  /* border: 2px solid black; */
  color: #000;
  display: flex;
  margin-bottom: 10%;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;;
  font-weight: 400;
  font-size: 39px;
}


div .film-instruction .line {
  width: 155px;
  height: 47px;
  padding: 17px;
  border-bottom: 0.5px solid rgb(173, 173, 173);
  position: absolute;
  left: 44.6%;
  margin-bottom: 5%;
  /* background: red; */
}





/*     /////      film-instruction     /////      */















footer {
  /* border: 2px solid #000; */
  width: 100%;
  margin-top: 8%;
  height: 207px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.29em;
  line-height: 1.7em;
  text-transform: uppercase;
}

footer .inner-footer {
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1190px;
  height: 110px;
  
}
footer .inner-footer .icon {
  /* border: 2px solid #000; */
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70%;
}
footer .inner-footer .icon img {
  /* border: 2px solid #000; */
  width: 34px;
  
  
}

footer .inner-footer ul {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex:3;
  width: 450px;

  
}

footer .inner-footer ul li {
  /* border: 2px solid #000; */
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .29em;
  line-height: 1.7em;
  color: #414141;
  text-transform: uppercase;
  /* display: flex; */
  /* align-items: center; */
  position: relative;
  left: 98%;
  top: -40%;
  
  

}

footer .inner-footer p {
  /* border: 2px solid #000; */
  position: relative;
  bottom:48%;
  left:100%;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.29em;
  line-height: 1.7em;
  text-transform: uppercase;
}
footer .inner-footer li:nth-child(1) {
  /* border: 2px solid #000; */
  position: relative;
  left: 426px;
  text-decoration: underline;
  
} 
footer .inner-footer li:nth-child(2) {
  /* border: 2px solid #000; */
  position: relative;
  left: 455px;
  text-decoration: underline;
  
} 


footer .inner-footer li:nth-child(3) {
  /* border: 2px solid #000; */
  position: relative;
  text-decoration: underline;
  left:54%;
} 
footer .inner-footer li:nth-child(4) {
  /* border: 2px solid #000; */
  position: relative;
  text-decoration: underline;

  left:131%;
  top:-71.7px;
} 
footer .inner-footer li:nth-child(5) {
  /* border: 2px solid #000; */
  position: relative;
  text-decoration: underline;
  left:107%;
  top:-70px;
} 
footer .inner-footer ul .short-1 {
  position: relative;
  left: 320px;
  bottom: 143px;
}
footer .inner-footer ul .short {
  position: relative;
  left: 290px;
  bottom: 120px;
}





















body .footer-box {
  width: 100%;
  height:126px;
  position: relative;
  display: flex;
}

body .footer-box .center {
  padding: 20px 60px;
  position: absolute;
  border: 1px solid #68b631;
  color: #68b631;
  background: #edecec;
  transition: 0.2s;
}

body .footer-box .center:hover {
  color:#FFF;
  background: #68b631;
}
