
@import url(../common.css);
@import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque');


/* header style */

header {
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
  font-weight: 700;
}
header .inner-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner-header .logo {
  height: 100px;
  padding-left: 50px;

  display: flex;
  flex-flow: flex flex-start;
  align-items: center;
}
header .inner-header .logo img{
  height: 26%;
  padding: auto 0;
}
header .inner-header .gnb {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
header .inner-header .gnb li {
  margin: 0 14px;
  font-size: 15px;
  letter-spacing: 0.15em;
  color: #1d1d1d;
  transition: 0.3s;
}
header .inner-header .gnb li:hover {
  color: #aaa;
}

header .inner-header .mobile-menu {
  display: none;
}

/* section.home-header style */

section.home-header {  
  height: 1180px;
  background: url('https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1699472929056-R6KDN8SAAXSJBT45V866/io2bg.jpg?format=2500w')
  no-repeat center/cover;
}
section.home-header .index-main {
  /* border: 3px solid violet; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blackFadeout 0.7s ease-in;
}
section.home-header .index-main img {
  width: 65%;
}

section.pixarhome {
  padding: 150px 142px;
}
section.pixarhome ul {
  display: flex;
  justify-content: space-between;
}
section.pixarhome .image-box {
  /* border: 3px solid violet; */
}
section.pixarhome .image-box a {
  width: 32%;
  margin: 0 auto;
  /* background: orange; */
  overflow: hidden;
  position: relative;
}
section.pixarhome ul .image-box img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  padding: 0 17px 17px;
  background: #fff;
}
section.pixarhome ul .image-box .pixarhome-text {
  padding: 17px;
  /* color: 1d1db3; */
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: .29em;
  line-height: 1.7em;
  text-transform: uppercase;
}

/* footer style */
footer {
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
  font-size: 14px;
  /* font-weight: 300; */
  letter-spacing: 0.3em;
  color: #222222c4;
}
footer .icon-list {
  text-align: center;
}
footer .icon-list .icon-box {
  padding: 3px;
}
footer .icon-list .icon-box i {
  color: #222;
  font-size: 22px;
  transition: 0.3s;
}
footer .icon-list .icon-box .fa-instagram {
  font-size: 25px;
}
footer .icon-list .icon-box .fab:hover {
  color: #ccc;
}
footer .policy-block {
  width: 40%;
  margin: 30px auto 10px;
  text-align: center;
  line-height: 1.7;
}
footer .policy-block span {
  color: rgba(29, 29, 29, .7);
}
footer .policy-block .policy {
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(29, 29, 29, .3);
  transition: 0.5s;
}
footer .policy-block .policy:hover {
  color: rgba(29, 29, 29, .6);
  border-color: rgba(29, 29, 29, .15);
}
footer .company {
  text-align: center;
  padding: 0 0 30px;
}
footer .btn-box{
  text-align: center;
  margin: 0 0 50px;
}
footer .btn-box .btn-personal-info {
  color: #68b631;
  overflow: visible;
  border: 1px solid #68b631;
  height: auto;
  word-wrap: break-word;
  padding: 0.9em 2em;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
}
footer .btn-box .btn-personal-info:hover {
  background: #68b631;
  color: #fff;
}

@media (max-width: 1024px) {

  header .inner-header .gnb {
    display: none;
  }
  header .inner-header .logo {
    height: 50px;
    /* padding-left: 50px; */
  
    display: flex;
    flex-flow: flex flex-start;
    align-items: center;

    transform: scale(1.1);
  }
  header .inner-header .mobile-menu {
    display: block;
    font-size: 22px;
    color: #1d1d1d;
    /* opacity: 0.8; */
  }
  section.home-header {  
    height: 722px;
  }
  section.home-header .index-main img {
    width: 72%;
  }
  section.pixarhome {
    padding: 150px 64px;
  }
  footer .policy-block {
    width: 80%;
  }
}

@keyframes blackFadeout {
  0% {
    background: rgb(0, 0, 0);
    /* opacity: 0; */
  }
  50% {
    background: rgba(0, 0, 0, 1);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}